<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FinanceProject.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=NIAZI-PC\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=testDB"
            providerName="System.Data.OleDb" />
        <add name="newConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DatabaseFeeSection.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>